<!-- users.new.html.erb -->
<h1>MyWallet App</h1>
<h3>Sign Up or Log In? Current Accounts <%= link_to "Log In", login_path %>
</h3>
<br>
<br>
<br>
<h1>New Users Sign Up Here</h1>
<br>
<%= form_for @user do |f| %>
<%= f.label :FirstName %>
<%= f.text_field :fname %>
<br>
<br>
<%= f.label :LastName %>
<%= f.text_field :lname %>
<br>
<br>
<%= f.label	:email %>
<%= f.text_field :email%>
<br>
<br>
<%= f.label :Phone %>
<%= f.text_field :phone %>
<br>
<br>
<%= f.label :Cash_Balance %>
<%= f.text_field :cash_bal %>
<br>
<br>
<%= f.submit "create" %>
<% end %>


