<!-- cards.new.html.erb -->
<br>
 <h1><%= "Credit Card Information, #{@user.fname}" %> </h1>
<br>
<%= form_for @card do |f| %>
<%= f.label :CardNumber %>
<%= f.number_field :cardnum %>
<br>
<br>
<%= f.label :Card_Type %>
<%= f.text_field :cardtype %>
<br>
<h2>I can print between form lines</h2>
<br>
<%= f.label	:Expiration_Month %>
<%= f.text_field :expire_m %>
<br>
<br>
<%= f.label	:Expiration_Year %>
<%= f.text_field :expire_y %>
<br>
<br>
<br>

<%= f.submit "create" %>
<% end %>
